/* HandleStyles.css */
.box {
    transition: transform 0.3s;
    position: relative;
  }
  
  .box.editing {
    transform: translateX(-5px);
  }
  

/*Estilos Tablas*/
.hover-element {
  position: relative;
  overflow: hidden;
  transition: 0.3s; /* Duración de la animación */
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  transition: right 0.3s; /* Agregamos una transición a la propiedad right */
  position: absolute;
  top: 0;
  right: -100%; /* Inicialmente ocultos */
  width: 100%; /* Ajustar el ancho al 100% para cubrir el espacio */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

.edit-icon {
  background-color: #007BFF;
  color: #fff;
}

.delete-icon {
  top: 50%;
  background-color: #e40909;
  color: #fff;
}

.hover-element:hover .edit-icon {
  right: 0; /* Aparecen al pasar el cursor por encima */
}

.hover-element:hover .delete-icon {
  right: 0; /* Aparecen al pasar el cursor por encima */
}

.reactIconsPickerContainer{
  position: absolute;
  font-size: 40px;
  top: 204px;
}
.pickButton{
  border: none;
}

/* Estilos personalizados para el input de archivo */
.file-upload-label {
  background-color: #D9D9D9; 
  color: #000000; 
  border: 2px solid #D9D9D9; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer;
  display: flex;
  font-size: 1.4vw;
  font-weight: 500;
  width: 100%;
  height: 8vh;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}
.file-upload-input {
  display: none; /* Oculta el input de archivo */
}
.file-upload-label:hover{
  background-color: #2b2b2b;
  border: 2px solid #2b2b2b;
  color: white;
}
img {
  max-width: fit-content;
  max-height: 50vh;
}
.main-button{
  background-color: #041D39;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  height: 2.375rem;
  width: 20rem;
}
/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fdc600; 
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Para navegadores que no admiten la personalización de la barra de desplazamiento */
/*scrollbar-width: thin;
scrollbar-color: #4CAF50 #f1f1f1;
*/

/* Estilos para el contenedor de la barra de desplazamiento */
/*.scrollable-container {
  overflow-x: auto;
  scrollbar-width: thin; 
  scrollbar-color: #fdc600 #173378;
}
*/
/* Estilos para WebKit (Chrome, Safari) */
/*.scrollable-container::-webkit-scrollbar {
  height: 8px; 
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #fdc600; 
  border-radius: 20px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #173378;
  border-radius: 20px; 
}
*/