/* HandleStyles.css */
.box {
    transition: transform 0.3s;
    position: relative;
  }
  
  .box.editing {
    transform: translateX(-5px);
  }
  

/*Estilos Tablas*/
.hover-element {
  position: relative;
  overflow: hidden;
  transition: 0.3s; /* Duración de la animación */
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  transition: right 0.3s; /* Agregamos una transición a la propiedad right */
  position: absolute;
  top: 0;
  right: -100%; /* Inicialmente ocultos */
  width: 100%; /* Ajustar el ancho al 100% para cubrir el espacio */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

.edit-icon {
  background-color: #007BFF;
  color: #fff;
}

.delete-icon {
  top: 50%;
  background-color: #e40909;
  color: #fff;
}

.hover-element:hover .edit-icon {
  right: 0; /* Aparecen al pasar el cursor por encima */
}

.hover-element:hover .delete-icon {
  right: 0; /* Aparecen al pasar el cursor por encima */
}


/*  .box:hover {
    border: 2px solid #007BFF;
    transition: border 0.3s; 
  }
  
  .box::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s; /* Duración de la transición 
  }
  
  .box:hover::before {
    background-color: #007BFF; /* Color del borde en hover 
  }
  */

  
/* Estilos personalizados para el input de archivo */
.file-upload-label {
  background-color: #D9D9D9; /* Color de fondo del botón */
  color: #000000; /* Color del texto del botón */
  border: 2px solid #D9D9D9; /* Borde del botón */
  padding: 10px; /* Espaciado dentro del botón */
  border-radius: 5px; /* Borde redondeado del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  display: flex;
  font-size: 1.7vw;
  font-weight: 400;
  width: 25vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
   /* Para que el botón se ajuste al contenido */
}
.file-upload-input {
  display: none; /* Oculta el input de archivo */
}
.file-upload-label:hover{
  background-color: #2b2b2b;
  border: 2px solid #2b2b2b;
  color: white;
}

  
  